#----------------
# O.S. related
#----------------
*.exe
*.dll
*.~*
*.bak
Thumbs.db
.DS_Store

#----------------
# SCM related
#----------------
.svn

#----------------
# Delphi related
#----------------
*.dcu
*.dcp
*.local
*.identcache
__history
*.tvsconfig
*.dsk
ModelSupport_*
LibrarySupport

#----------------
# DelphiVM related
#----------------
msbuild.log
*.notes.html
/out
/vendor
/ship

#----------------
# Project related
#----------------
deprecated
*.stat
